<%= stylesheet_link_tag 'remodal.css' %>
<%= stylesheet_link_tag 'remodal-default-theme' %>
<%= stylesheet_link_tag 'resume' %>
<%= javascript_include_tag 'resume' %>
<%= javascript_include_tag 'remodal.min' %>

<div class="resume-content">

	<h2>Contact</h2>
	<hr />
	<p>
		Email me at <a href="mailto:alex@evansalex.com">alex@evansalex.com</a>.
	</p>

	<h2>Education</h2>
	<hr/>
	<p>
		University of Wisconsin-Platteville, Platteville, WI
	</p>
	<p>
		2010-2015
	</p>
	<p>
		Bachelor's Degree in Software Engineering
	</p>
	<p>
		Minor in Math
	</p>
	<p>
		Overall GPA: 3.886/4.000
	</p>
	<p>
		Transcript available upon request
	</p>

	<h2>Work Experience</h2>
	<hr/>
	<h3>Software Developer</h3>
	<p>
		<a href="https://www.lsretail.com">LS Retail</a>, Fond Du Lac, WI (working remote)
	</p>
	<p>
		06/2016-present
	</p>
	<ul>
		<li>
			Maintained and developed features for older point of sale solution, based on Microsoft Dynamics AX 2012 EPOS, utilizing C#, SQL, Nuget, Visual Studio and TFS.
		</li>
		<li>
			Develop features for new point of sale solution, based on Microsoft Dynamcis D365, utilizing C#, Typescript, HTML, CSS, SQL, Nuget, Visual Studio, Git, feature branching, XUnit, Bddfy, Entity Framework, VirtualBox, Vagrant, Resharper, Beyond Compare, and Knockout.
		</li>
		<li>
			My team and I created and maintain CICD/devops system for Microsoft Dyanmics D365 point of sale solution, which utilizes Jenkins, Artifactory, SonarQube, Groovy, Powershell, Selenium, OpenCover, Chocolatey, GitVersion, and JIRA and Bitbucket APIs. 
			For a more detailed explanation of the CICD features I developed <a href="#lsretail-cicd">click here</a>.
		</li>
		<li>
			Work in a team of 8, following Scrum methodology.
		</li>
		<li>
			Presented to several teams on the importance of CICD and automated testing.
		</li>
		<li>
			Written many articles for our internal wiki (in Markdown) on coding standards, automated testing, setting up the point of sale solution, developing in Typescript, using Entity Framework Code First Migration, and other topics
		</li>
		<li>
			Developed a powershell script that takes a folder of assemblies and generates a dependency graph (in PlantUML) for all of the assemblies and organizes the assemblies into nuget packages, then optionally uploads the packages to our artifact repository (Artifactory).
		</li>
	</ul>
	
	<h3>Web/Sitecore Developer</h3>
	<p>Ashley Furniture Industries, Milwaukee, WI</p>
	<p>05/2015-06/2016</p>
	<ul>
		<li>
			Worked with a team (10 members) on developing features for <a href="https://www.ashleyfurniturehomestore.com/">Ashley Furniture's ecommerce website</a>. 
			We utilized C#, SQL, Sitecore, Visual Studio, Git, HTML, CSS, and Javascript.
		</li>
		<li>
			Worked with devops team to automate testing and deployment for Sitecore aspects of the website.
		</li>
		<li>
			Created a subsystem that generates promotion codes to use on the website and provides an rest API for the website to retrieve and
			validate promotion codes. Utilized Scala, Gradle, IntelliJ IDEA, and Spring.
		</li>
		<li>
			Created a rest API that the website would call to validate addresses entered by the user. Interally it would execute any custom 
			logic we need to run and then call the UPS API to validate the address.
		</li>
	</ul>
	
	<h3>Intern</h3>
	<p>Great Lakes, Madison, WI</p>
	<p>05/2014-08/2014</p>
	<ul>
		<li>
			Maintained and updated over 200 emails and created 2 additional emails. Utilized JSP.
		</li>
		<li>
			Worked with a team on developing a web application to display mass mailing statistics. Utilized HTML, CSS, and Javascript.
		</li>
		<li>
			Updated several web application UI banners.
		</li>
	</ul>
	
	<h3>Technician</h3>
	<p>Esterline Avista, Platteville, WI</p>
	<p>01/2014-04/2014</p>
	<ul>
		<li>
			Developed unit tests for avionics software.
		</li>
	</ul>
	
	<h3>Student Web Developer</h3>
	<p>UW-Platteville, Platteville, WI</p>
	<p>03/2013-12/2013</p>
	<ul>
		<li>
			Updated content on university website as requested from university departments. Utilized HTML, CSS, Javascript, and Drupal.
		</li>
		<li>
			Frequently interacted with university departments.
		</li>
	</ul>
	
	<h3>Intern</h3>
	<p>Coilcraft, Cary, IL</p>
	<p>05/2012-08/2012</p>
	<ul>
		<li>
			Worked as an Electrical Engineering intern in research and development, building and testing new inductors.
		</li>
	</ul>
	
	<h3>Electrical Technician</h3>
	<p>UW-Platteville, Platteville, WI</p>
	<p>01/2012-05/2012, 09/2012-12/2012</p>
	<ul>
		<li>
			Worked for the Electrical Engineering department, building and testing various electrical and mechanical components such as circuit boards, wire harnesses, and water pumps.
		</li>
	</ul>
	
	<h3>Tutor</h3>
	<p>UW-Platteville, Platteville, WI</p>
	<p>01/2011-01/2012</p>
	<ul>
		<li>
			Tutored students in Chemistry for Engineers, Calculus 1 and 2.
		</li>
	</ul>
	
	<h2>College Activities/Honors</h2>
	<hr />
	
	<h3>Honors</h3>
	<ul>
		<li>
			Chancellor's and Dean's List fall 2010, fall 2011, spring 2013.
		</li>
		<li>
			Dean's List spring 2011, fall 2012, spring 2014
		</li>
		<li>
			Honor Roll every semester of high school.
		</li>
	</ul>
	
	<h3>Activities</h3>
	<ul>
		<li>
			Founder and president of UW-Platteville Breakdance Club (09/2012-05/2015).
		</li>
		<li>
			Phi Kappa Phi member - 04/2014.
		</li>
		<li>
			Ward Beetham Memorial Scholarship recipient 2013 and 2014.
		</li>
		<li>
			Engineers Without Borders member fall 2010 and spring 2011.
		</li>
	</ul>
	
	<h2>Personal Projects</h2>
	<hr />
	
	<h3>Glowbot Commander</h3>
	<ul>
		<li>
			Top-down, retro style shooter game with real-time strategy aspects.
		</li>
		<li>
			Utilizes Java, JUnit, Eclipse, Gradle, <a href="https://libgdx.badlogicgames.com/">LibGDX</a>, <a href="https://inkscape.org/en/">Inkscape</a>, <a href="https://brashmonkey.com/">Spriter</a>, and <a href="https://itch.io/docs/api/overview">Itch.io API</a>.
		</li>
		<li>
			Set up job on my personal Jenkins server to automatically deploy new updates to <a href="https://itch.io">Itch.io</a>.
		</li>
		<li>
			<a href="https://braingame26.itch.io/glowbot-commander">Game page.</a>
		</li>
		<li>
			<a href="https://youtu.be/pmTSvFgPz9k">Video.</a>
		</li>
		<li>
			Learn more on <a href="/projects/index#glowbot-commander">the project page</a>.
		</li>
	</ul>
	
	<h3>Snap Together</h3>
	<ul>
		<li>
			Android app that allows users to create an album and join other people's albums. 
			Albums have a timespan where photos taken within the timespan are automatically added to the album and uploaded
			to the server. Other uses can see these photos and download them.
		</li>
		<li>
			For big events where everyone is taken photos (weddings, parties). Everyone's photos are all in one place. You don't
			need to ask people for their photos or download them from their facebook page later.
		</li>
		<li>
			Utilizes Android/Java, Android Studio, <a href="https://cloudinary.com/">Cloudinary</a>, 
			<a href="http://square.github.io/retrofit/">Retrofit</a>, <a href="https://github.com/bumptech/glide">Glide</a>, 
			the Google login API, Python, MongoDb, <a href="http://flask.pocoo.org/">Flask</a>
		</li>
		<li>
			This backend is hosted on my <a href="https://www.linode.com/">Linode</a> (Ubuntu server).
		</li>
		<li>
			Not publicly available yet.
		</li>
		<li>
			Learn more on <a href="/projects/index#snap-together">the project page</a>.
		</li>
	</ul>
	
	<h3>Clash Weights</h3>
	<ul>
		<li>
			<a href="http://clashweights.com/">Clash Weights</a> is a website for Clash of Clans players. 
			The player enters their player tag and their "war weight" is displayed.
		</li>
		<li>
			Created using Ruby on Rails. Utilizes the <a href="https://developer.clashofclans.com">Clash of Clans API</a> and 
			<a href="http://www.aptana.com/products/studio3.html">Aptana Studio 3</a>. This website is hosted 
			on my <a href="https://www.linode.com/">Linode</a> (Ubuntu server).
		</li>
		<li>
			Learn more on <a href="/projects/index#clash-weights">the project page</a>.
		</li>
	</ul>
	
	<h3>Reminder Tabs</h3>
	<ul>
		<li>
			Google Chrome extension that allows the user to set a tab to open up at a certain time (once, weekly, or monthly).
		</li>
		<li>
			Available on the <a href="https://chrome.google.com/webstore/detail/reminder-tabs/dgbefjihfedmafafefofkpkcidejjjmm?hl=en">Google Chrome Extensions Store</a>.
		</li>
		<li>
			Learn more on <a href="/projects/index#reminder-tabs">the project page</a>.
		</li>
	</ul>
	
	<h3>Focus</h3>
	<ul>
		<li>
			Android app for meditation. The mind wandering during meditation is a very common occurence. This app either vibrates or emits 
			a sound at a set interval that reminds the user to focus her mind back on meditation. The user taps the screen if her mind was 
			wondering, which shortens the time interval so the user is reminded to focus more often. If the user doesn't tap on the screen, 
			the interval lengthens to remind the user less often.
		</li>
		<li>
			Utilizes Android/Java, Android Studio, Gradle.
		</li>
		<li>
			Available on the Google Play Store <a href="https://play.google.com/store/apps/details?id=com.evansalex.focus">here</a>.
		</li>
		<li>
			Learn more on <a href="/projects/index#focus">the project page</a>.
		</li>
	</ul>
	
	<h3>This Website</h3>
	<ul>
		<li>
			This website was created using Ruby on Rails, <a href="http://lokeshdhakar.com/projects/lightbox2/">LightBox</a>, 
			<a href="http://vodkabears.github.io/remodal/">Remodal</a>, and of course JQuery. This website is hosted 
			on my <a href="https://www.linode.com/">Linode</a> (Ubuntu server).
		</li>
		<li>
			Learn more on <a href="/projects/index#this-website">the project page</a>.
		</li>
	</ul>
	
</div>

<div data-remodal-id="lsretail-cicd" class="modal-text">
	<button data-remodal-action="close" class="remodal-close"></button>
	<p>
		When my current team formed, one of my teammates and I started working on the CICD system we currently use. Our build server
		is Jenkins, and we use Jenkins pipelines (written with Groovy and Powershell) for all of our jobs. Here are the list of jobs
		I have currently created and maintain.
	</p>
	<ul>
		<li>
			Standard CI job which runs after every commit to our Git repository. The solution is built, unit tests are run,
			code coverage is run (by OpenCover), and static code analysis is done by SonarQube. Using the Bitbucket API, the
			Bitbucket repository is notified whent the build starts and ends so that the build status can be displayed in
			Bitbucket, as <a href="https://blog.bitbucket.org/2015/11/18/introducing-the-build-status-api-for-bitbucket-cloud/"> described here.</a>
		</li>
		<li>
			Job that utilizes the <a href="https://github.com/jenkinsci/bitbucket-pullrequest-builder-plugin#readme">Bitbucket pull request builder plugin for Jenkins</a>
			to scan for open pull requests, do a pre-merge with the target branch, and run the same steps as the CI job. If this job
			passes then the pull request is approved by our CI bot.
		</li>
		<li>
			Job that uploads the artifacts generated by our solution to our artifact repository, Artifactory.
		</li>
		<li>
			Job that automatically updates the version of our solution before a pull request is merged. The version is updated based on
			semantic versioning and utilizes <a href="https://github.com/GitTools/GitVersion">GitVersion</a>. The JIRA API is used to
			update the version of the JIRA item corresponding to the feature branch being merged.
		</li>
		<li>
			Job that automatically updates our release notes prior to a feature being merged (via pull request).
		</li>
		<li>
			Job that automatically generates markdown documentation from the XML files that can be generated from comments in Visual Studio
			C# files. The markdown documentation is pushed to our wiki.
		</li>
	</ul>
	<p>
		Automation of integration tests using selenium is planned. Automatic deployments of the point of sale to Azure boxes is planned.
	</p>
</div>
