<%= stylesheet_link_tag "about_me" %>
<%= javascript_include_tag "about_me" %>

<div class="about-me-content">
	<h2>About Me</h2>
	<hr />
	<%= image_tag("alex.png", :alt => "Photo of Alex Evans", :class => "alex-image") %>
	<p>
		I'm a software developer currently working completely remotely for <a href="https://lsretail.com">LS Retail</a>. 
		I'm passionate about programming and spend many hours outside of work on <%= link_to("programming projects", "/projects/index")%>.
		Following good programming principles such as SRP (single responsibility principle), high cohesion/low coupling, unit testing,
		IoC, don't repeat yourself, YAGNI (you aren't going to need it), and using design patterns wherever possible (except the 
		singleton) is a must. Having devops/CICD set up, and in general automation is a must. Scrum/Agile methodologies are a must. 
		Accepting constructive criticism is a must. Constant learning is a must.
	</p>
	<p>
		My favorite programming languages are C# and Java, but I've used <%= link_to("many others", "/resume/index")%>. I like Git 
		way, way more than any other version control (I've also used TFS and Subversion), mainly because of how easy branching is. 
		Feature branching is my prefered branching strategy, and Git makes it a breeze. Work-life balance is extremely important 
		to me.
	</p>
	<p>
		I live in Fond Du Lac, WI with my fiancee. We have a dog, Razor, and a cat, Gunter. Besides my projects, I enjoy 
		spending time with my fiancee, family, and friends. I snowboard, breakdance, work out on a regular basis. I enjoy 
		learning about finances, health, philosophy of life (stocism, hedonistic treadmill, lifestyle creep, those sort of things),
		and science. I do not drink alcohol (as a personal choice).
	</p>
	<p>
		Contact me at <a href="mailto:alex@evansalex.com">alex@evansalex.com</a>.
	</p>
</div>
