<%= stylesheet_link_tag 'projects' %>
<%= stylesheet_link_tag 'lightbox' %>
<%= javascript_include_tag 'projects' %>
<%= javascript_include_tag 'lightbox-plus-jquery.min' %>

<div class="projects-content">

	<a id="snap-together" class="anchor"><h2>Snap Together</h2></a>
	<hr />
	
	<p>
		Snap Together is an Android app I made for groups of people to be able to share photos easily. A user creates an album and others join the
		album. Each album has a start and end time, name, and a password. Anyone who joined the album will automatically have their any 
		photos they take during between the start and end time added to the album. Everyone who joined the album will have easy access 
		to everyone else's photos.
	</p>
	<p>
		This app is intended for when groups of people get together for a event, such as a wedding, party or trip. Everyone in the group 
		can easily access everyone else's photos. No more having to ask everyone to send their photos to you or monitor their Facebook 
		page for new photos.
	</p>
	<p>
		This is an Android app, so it's written in Java and uses Gradle and Android Studio. It also uses 
		<a href="https://cloudinary.com/">Cloudinary</a>, <a href="http://square.github.io/retrofit/">Retrofit</a>, 
		<a href="https://github.com/bumptech/glide">Glide</a> and the Google login API for Anrdoid. Python, MongoDb, and
		 <a href="http://flask.pocoo.org/">Flask</a> are used for the backend server. The backend is hosted on my 
		 <a href="https://www.linode.com/">Linode</a> (Ubuntu server).
	</p>
	<p>
		This app is not available on Google Play yet. 
	</p>
	
	<div>
		<%=link_to( image_tag("snap-together-home.png", :alt => "Snap Together Home Page", :class => "snap-together-image"), image_path("snap-together-home.png"), "data-lightbox"=>"snap-together-gallery", "data-title"=>"Snap Together Home Page") %>
		<%=link_to( image_tag("snap-together-album.png", :alt => "Snap Together Create Album Page", :class => "snap-together-image"), image_path("snap-together-album.png"), "data-lightbox"=>"snap-together-gallery", "data-title"=>"Snap Together Create Album Page") %>
		<%=link_to( image_tag("snap-together-images.png", :alt => "Snap Together Album Images Page", :class => "snap-together-image"), image_path("snap-together-images.png"), "data-lightbox"=>"snap-together-gallery", "data-title"=>"Snap Together Album Images Page") %>
		<%=link_to( image_tag("snap-together-upload.png", :alt => "Snap Together Upload Notification", :class => "snap-together-image", :id => "snap-together-notif-image"), image_path("snap-together-upload.png"), "data-lightbox"=>"snap-together-gallery", "data-title"=>"Snap Together Upload Notification") %>
	</div>
	
	<a id="glowbot-commander" class="anchor"><h2>Glowbot Commander</h2></a>
	<hr />
	
	<p>
		Glowbot Commander is a game I created. It's a retro styled top-down shooter with some real time strategy elements. You can directly 
		control your character (which is a robot) by using the standard WSAD keys to move around and the mouse to aim and shoot. You can also
		release the robot from direct control, where it will then fire at enemies on its own. It will also back up from enemies on its own.
		In this mode you can control the robot in a similar way you would control your units in a real-time strategy game. You can click on 
		a place for the robot go go, have it patrol, tell it to attack a specific enemy, have it guard a specific ally, or hold its position.
	</p>
	<p>
		You can purchase additional robots to fight with you, or different guns and shields. Upgrades and robots can be sold for money, or 
		swapped out for different upgrades. Your team of robots fights against endless waves of enemies.
	</p>
	<p>
		This is a Java game. I used the Eclipse IDE. The game framework I used was <a href="https://libgdx.badlogicgames.com/">LibGDX</a>.
		I did all my drawings in <a href="https://inkscape.org/en/">Inkscape</a>. All my animations were done using 
		<a href="https://brashmonkey.com/">Spriter</a>. The spriter animations are easily integrated with LibGDX via the
		<a href="https://github.com/Trixt0r/gdx-spriter">Gdx-Spriter library</a>. The game is hosted on <a href="https://itch.io">Itch.io</a>.
		I created a job in my personal Jenkins build server that uses the <a href="https://itch.io/docs/api/overview">Itch.io API</a> to 
		automatically package and deploy the game to Itch.io whenever I run the job.
	</p>
	<p>
		The game has over a hundered unit tests and a few integration tests, which are run on every commit on my Jenkins server. I used 
		a modified version of the <a href="https://en.wikipedia.org/wiki/Entity%E2%80%93component%E2%80%93system">entity-component-system</a>
		design pattern to easily manage the creation of the entities in the game. This design pattern allowed me to easily create entities 
		where I could swap out different rendering, AI, and logic components to change the look and behavior of the entities without having 
		to create separate entities for each different robot and enemy. In other words, all the entities use the same underlying logic but 
		have different "components" that make them look different and behave differently.
	</p>
	<p>
		The swarming and avoidance logic the game uses is based on chapter 6 in 
		<a href="http://natureofcode.com/book/chapter-6-autonomous-agents/">The Nature of Code</a>.
	</p>
	<p>
		You can <a href="https://braingame26.itch.io/glowbot-commander">download the game here</a>.
	</p>
	
	<iframe class="glowbot-comamnder-video" width="560" height="315" src="https://www.youtube.com/embed/pmTSvFgPz9k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

	<a id="clash-weights" class="anchor"><h2>Clash Weights</h2></a>
	<hr />
	
	<p>
		<a href="http://clashweights.com">Clash Weights</a> is a website I created to help players of the popular mobile game 
		<a href="http://supercell.com/en/games/clashofclans/">Clash of Clans</a>. In this game, you join a clan, which consists of up to 
		50 other players. Your clan can initiate a war with another clan, where you attack the other clan's players. The way your clan is
		matched up against another clan is based on your war weight. All of your troops and defensive structures have a weight assigned to 
		them. Using the <a href="https://developer.clashofclans.com/#/">Clash of Clans API</a> and the player's player tag (a unique 
		identifier for each player), Clash Weights calculates a player's war weight.
	</p>
	<p>
		If you want to see what the war weights page looks like but don't play clash of clans, you can 
		<a href="http://clashweights.com/player/index?pTag=%23G2LU89LC"> follow this link</a> to see my accounts war weights.
	</p>
	<p>
		The website was built using Ruby on Rails (my first time using Rails). The IDE I used was 
		<a href="http://www.aptana.com/products/studio3.html">Aptana Studio 3</a>. It's hosted on my 
		<a href="https://www.linode.com/">Linode</a> (Ubuntu server).
	</p>
	
	<a id="this-website" class="anchor"><h2>This Website</h2></a>
	<hr />
	<p>
		This website uses Ruby on Rails. The IDE I used was <a href="http://www.aptana.com/products/studio3.html">Aptana Studio 3</a>.
		I used libraries <a href="http://lokeshdhakar.com/projects/lightbox2/">LightBox</a>, 
		<a href="http://vodkabears.github.io/remodal/">Remodal</a>, and of course JQuery.
	</p>
	<p>
		This website hosted on my <a href="https://www.linode.com/">Linode</a> (Ubuntu server).
	</p>
	
	<a id="reminder-tabs" class="anchor"><h2>Reminder Tabs</h2></a>
	<hr />
	<p>
		<a href="https://chrome.google.com/webstore/detail/reminder-tabs/dgbefjihfedmafafefofkpkcidejjjmm?hl=en">Reminder Tabs</a> is a 
		Google Chrome extension. When you have a tab open you can click on the Reminder Tabs button and have that tab automatically open at 
		a later time. You can set it to open once at a later time, or daily, weekly, or monthly.
	</p>
	<p>
		I made it because bookmarks never worked very well for me. I would bookmark a page and then never look at my bookmarks. With
		Reminder Tabs, the page will automatically open up later so I won't forget about it.
	</p>
	<p>
		This extension is just HTML, CSS, and Javascript which uses the Chrome Extensions API.
	</p>
	
	<a id="focus" class="anchor"><h2>Focus</h2></a>
	<hr />
	<p>
		Focus is a simple Android app. It's used by someone who is mediating to stay constantly focused on meditation. During 
		meditation, your mind will probably wonder a lot (mine does). This app will, every so often, cause the phone to vibrate 
		or make a noise, which should prompt the user to focus again on trying to keep her mind clear.
	</p>
	<p>
		The user should have the phone right next to them. When the phone vibrates or makes a sound, if the user was not focused 
		(her mind wondered), then the user can tap the screen to shorten the length of time until the next vibration/sound. If the 
		user doesn't tap the screen, then the length of time until the next vibration/sound is lengthened.
	</p>
	<p>
		This is an Android app so it is written in Java and uses Gradle. The IDE I used was Android Studio. The app is available 
		on the Google Play Store <a href="https://play.google.com/store/apps/details?id=com.evansalex.focus">here</a>.
	</p>

</div>
