<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Evans - Software Engineer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    
    <%= javascript_include_tag 'application' %>
    <meta name="google-site-verification" content="x1QRQlfY7ANRdgI9tnu1gAqDwxU-jA_dZayq6eulnLU" />
	<meta name="google-site-verification" content="x1QRQlfY7ANRdgI9tnu1gAqDwxU-jA_dZayq6eulnLU" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<nav class="menu">
  		<h3 class="nav-title">Alexander Evans - Software Engineer</h3>
		<ul class="active">
			<li id="nav-home"><a href="/home/index">Home</a></li>
			<li id="nav-resume"><a href="/resume/index">Resume</a></li>
			<li id="nav-projects"><a href="/projects/index">Projects</a></li>
			<li id="nav-about-me"><a href="/about_me/index">About Me</a></li>
		</ul>
		<a class="toggle-nav" href="#"><%= image_tag("hamburger.svg", :alt => "Menu") %></a>
	</nav>
    <%= yield %>
    <div id="footer">
    	<h3 class="footer-text ">&copy; Copyright 2018, Alexander Evans. All rights reserved.</h3>
    </div>
  </body>
</html>
