<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.min.js'></script>
<%= stylesheet_link_tag 'retrospective' %>
<%= javascript_include_tag 'retrospective' %>

<div id="retrospective-content">
	<div class="grid-stack">
		<div class="grid-stack-item"
		data-gs-x="0" data-gs-y="0"
		data-gs-width="4" data-gs-height="2">
			<div class="grid-stack-item-content">
				Tile 1
			</div>
		</div>
		<div class="grid-stack-item"
		data-gs-x="4" data-gs-y="0"
		data-gs-width="4" data-gs-height="4">
			<div class="grid-stack-item-content">
				Tile 2
			</div>
		</div>
	</div>
</div>
