.about-me-content {
  width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-me-content p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-me-content h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.alex-image {
  float: left;
  margin-right: 30px;
}

@media screen and (max-width: 1150px) {
  .about-me-content {
    width: 70%;
  }
}

@media screen and (max-width: 860px) {
  .about-me-content {
    width: 90%;
  }
}