html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px solid #000000;
	height: 1px;
}

#footer {
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	background: #303030;
	bottom: 0;
	right: 0;
	left: 0;
}

.footer-text {
	color: #FFFFFF;
	font-weight: normal;
	margin: 0;
}

.nav-title {
	margin: 0;
	float: left;
	color: #FFFFFF;
	font-weight: normal;
}

.toggle-nav {
	display: none;
	cursor: default;
}

@media screen and (min-width: 860px) {
	.menu {
		display: inline-block;
		width: 100%;
		padding: 10px 18px;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
		border-radius: 3px;
		background: #303030;
		box-sizing: border-box;
	}
}
.menu ul {
	display: inline-block;
	margin: 0;
	float: right;
}
.menu li {
	margin: 0px 50px 0px 0px;
	float: left;
	list-style: none;
	font-size: 17px;
}
.menu li:last-child {
	margin-right: 0px;
}
.menu a {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	color: #FFFFFF;
	transition: color linear 0.15s;
}
.menu a:hover, .menu .nav-current-item a {
	text-decoration: none;
	color: #b3b3b3;
}

@media screen and (max-width: 1150px) {
	.wrap {
		width: 90%;
	}
}
@media screen and (max-width: 970px) {
	.search-form input {
		width: 120px;
	}
}
@media screen and (max-width: 860px) {
	
	.nav-title {
		padding: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 70%;
		overflow: hidden;
	}
	
	.footer-text {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.menu {
		position: relative;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		background: #303030;
	}
	.menu ul.active {
		display: none;
	}
	.menu ul {
		position: absolute;
		top: 120%;
		right: 12px;
		padding: 10px 18px;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
		border-radius: 3px;
		background: #303030;
		box-sizing: border-box;
	}
	.menu ul:after {
		width: 0px;
		height: 0px;
		position: absolute;
		top: 0%;
		right: 22px;
		content: '';
		transform: translate(0%, -100%);
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 8px solid #303030;
	}
	.menu li {
		margin: 5px 0px 5px 0px;
		float: none;
		display: block;
		text-align: right;
	}
	.menu a {
		display: block;
	}
	.toggle-nav {
		text-align: right;
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		display: inline-block;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
		border-radius: 3px;
		background: #303030;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
		color: #777;
		font-size: 20px;
		transition: color linear 0.15s;
	}
	.toggle-nav:hover, .toggle-nav.active {
		text-decoration: none;
		color: #66a992;
	}
}