
.carousel-wrapper {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.carousel {
  margin: 0 auto;
}

.carousel a {
  color: inherit;
}

.carousel-image {
  margin: auto;
}

.intro {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.intro p {
  overflow: hidden;
}

.line {
  width: 50%;
  text-align: center;
}

.alex-image {
  float: left;
  margin-right: 30px;
}

@media screen and (max-width: 1150px) {
  .intro {
    width: 70%;
  }
  
  .line {
    width: 70%;
  }
}

@media screen and (max-width: 860px) {
  .intro {
    width: 90%;
  }
  
  .alex-image {
    float: none;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
  }
  
  .line {
    width: 90%;
  }
  
  .carousel-image {
    width: 90%;
  }
}
