.anchor {
	color: #000000;
}

.projects-content {
	width: 50%;
  	margin-left: auto;
  	margin-right: auto;
}

.project-content p {
	margin-top: 2px;
	margin-bottom: 2px;
}

.project-content h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.project-content li {
	margin-top: 4px;
	margin-bottom: 4px;
}

.snap-together-image {
  margin: auto;
  width: 24%;
  border: 1px solid #000000;;
}

#snap-together-notif-image {
	border: 0;
}

.glowbot-comamnder-video {
	max-width: 100%;
	display: block;
	margin: auto;
}

@media screen and (max-width: 1150px) {
  .projects-content {
    width: 70%;
  }
}

@media screen and (max-width: 860px) {
  .projects-content {
    width: 90%;
  }
}