.resume-content {
	width: 50%;
  	margin-left: auto;
  	margin-right: auto;
}

.resume-content p {
	margin-top: 2px;
	margin-bottom: 2px;
}

.resume-content h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.resume-content li {
	margin-top: 4px;
	margin-bottom: 4px;
}

.modal-text {
	text-align: left;
}

@media screen and (max-width: 1150px) {
  .resume-content {
    width: 70%;
  }
}

@media screen and (max-width: 860px) {
  .resume-content {
    width: 90%;
  }
}