#banner {
  width: 50%;
  display:block;
    margin-left:auto;
    margin-right:auto;
}

#title{
  text-align: center;
}

#title h1 {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-size: 48px;
}

#title h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 50;
  font-size: 18px;
}

#contentWrapper {
  text-align: center;
}

#content {
  display: inline-block;
  width: 50%;
  font-family: sans-serif;
}

#when {
  margin-bottom: 20px;
  text-align: center;
}

.where {
  margin: 0;
  margin-bottom: 5px;
}

.left {
  text-align: left;
}