<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>
<%= javascript_include_tag "http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"%>

<div class="intro">
	<%= image_tag("alex.png", :alt => "Photo of Alex Evans", :class => "alex-image") %>
	<h2>Hi, I'm Alex Evans.</h2>
	<p>
		I'm a software developer. I believe in producing quality code through following principles such as the
		single responsibility principle, high cohesion, low coupling, YAGNI (you aren't going to need it), and
		using design patterns wherever possible. I believe a CICD system and automated testing are keys to
		producing quality code as quickly as possible and with the least amount of technical debt.
	</p>
	<p>
		I am currently employed at <a href="https://www.lsretail.com">LS Retail</a>. My team and I are working
		on creating a hospitality POS, using Microsoft Dynamics D365. I work on the front end and middle (mostly
		C# and Typescript). I also work on our devops system, working on automated builds, testing, artifact
		deployment, and much more.
	</p>
</div>

<hr class="line"/>

<div class="carousel-wrapper">
	<div class="carousel">
		<div>
			<a href="/resume/index"><h3>Click to view my resume</h3></a>
			<a href="/resume/index"><%= image_tag("view-my-resume.png", :alt => "view my resume", :class => "carousel-image") %></a>
		</div>
		<div>
			<a href="/projects/index"><h3>Click to view my projects</h3></a>
			<a href="/projects/index"><%= image_tag("view-my-projects.png", :alt => "view my projects", :class => "carousel-image") %></a>
		</div>
		<div>
			<a href="/projects/index#snap-together"><h3>Learn more about my android app, Snap Together</h3></a>
			<a href="/projects/index#snap-together"><%= image_tag("view-snap-together.png", :alt => "view Snap Together", :class => "carousel-image") %></a>
		</div>
		<div>
			<a href="/projects/index#glowbot-commander"><h3>Learn more about my Java game, Glowbot Commander</h3></a>
			<a href="/projects/index#glowbot-commander"><%= image_tag("glowbot-commander.png", :alt => "Glowbot Commander", :class => "carousel-image") %></a>
		</div>
	</div>
</div>
